---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { PROJECTS } from "~/data/projects";
---

<ContentSection title="Proyectos recientes" id="showcase">
  <Fragment slot="lead">
    Algunos de los proyectos en los que he trabajado.
  </Fragment>
  <div class="max-w-6xl">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {PROJECTS.map((project) => (
        <ShowcaseCard project={project} />
      ))}
    </div>
  </div>
</ContentSection>
